<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
	<!-- site metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<!-- style css -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!-- Responsive-->
	<link rel="stylesheet" th:href="@{/css/responsive.css}" />
	<!-- fevicon -->
	<link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}"
		media="screen" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Book Home</title>
</head>

<body class="main-layout inner_posituong computer_page">
	<header>
		<!-- header inner -->
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a class="navbar-brand nav-link disabled text-white">MYLYB</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark ">
							<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" th:href="@{/user_dashboard}">My Loan</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" th:href="@{/all_book_user}">Book Catalogue</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" th:href="@{/user_history}">My History</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" th:href="@{/logout}">Logout</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!--Table Section -->
	<div class="cardnew">


		<div th:switch="${listBooks}">

			<div class="col-md">
				<h2 th:case="null">No Books yet!</h2>
				<div th:case="*">



					<br />
					<center>
						<h3>Library Book List</h3>
					</center>
					<div class="cardnew">
						<div class="container" >
							<form th:action="@{/all_book_user}" style="margin-bottom:20px">
								Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}"
									required />
								&nbsp;
								<input class="btn btn-success btn-sm py-1 " type="submit" value="Search" />
								&nbsp;
								<input class="btn btn-secondary btn-sm py-1 " type="button" value="Clear" id="btnClear"
									onclick="clearSearch()" />
							</form>
							<div class="row">
								<div class="col-md-12">
									<div class="titlepage">


										<div class="row">
											<div class="col-md-3 col-sm-6" th:each="books : ${listBooks}">
												<div class="card card-block">
													<img style="height:320px; width:240px;"
														src="https://perpustakaan.kemenkeu.go.id/img/FileCover/3-10438022018.jpg"
														alt="Photo of sunset">
													<h5 style="padding-bottom:0; text-align:center;"
														class="card-title mt-2 " th:text="${books.title}">
														Judul</h5>
													<h5 style="padding-bottom:0; text-align:center;"
														class="card-title  mb-2" th:text="${books.authors.AuthorName}">
														Penulis</h5>
													<h5 style="padding-bottom:0; text-align:center;"
														class="card-title  mb-2" th:text="${books.publisher.Name}">
														Publisher</h5>
													<h5 style="padding-bottom:0; text-align:center;"
														class="card-title  mb-2"
														th:text="'Stock :'+ ' ' +${books.no_of_copies}">Penulis</h5>
													<!--<p style="padding-left:5%;padding-right:auto;" class="card-text">This is a company that builds
							websites, web apps and e-commerce solutions.</p>-->
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script>
		$('#confirm-delete').on('click', '.btn-ok', function (e) {
			var $modalDiv = $(e.delegateTarget);
			var id = $(this).data('recordId');
			// $.ajax({url: '/api/record/' + id, type: 'DELETE'})
			// $.post('/api/record/' + id).then()
			$modalDiv.addClass('loading');
			setTimeout(function () {
				$modalDiv.modal('hide').removeClass('loading');
			}, 1000)
		});
		$('#confirm-delete').on('show.bs.modal', function (e) {
			var data = $(e.relatedTarget).data();
			$('.title', this).text(data.recordTitle);
			$('.btn-ok', this).data('recordId', data.recordId);
		});
	</script>
	<script type="text/javascript">
		function clearSearch() {
			window.location = "[[@{/all_book_user}]]";
		}
	</script>
	<footer>
		<div class="footernew">

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html
									Templates</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>